<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class='profile_show'>
        <%= render 'shared/profile_show' %>
      </section>
      
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
      
      <p><%= link_to "専用アカウントにログイン", login_path %></p>
      
      <p><%= link_to "KUTLMS",'https://lms.kochi-tech.ac.jp/'%></p>
      <p><%= link_to "ポータルシステム",'https://portal2.kochi-tech.ac.jp/'%></p>
    </aside>
    <div class="col-md-8">
      <h3>タイムライン</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to Gabble</h1>
  </div>
<% end %>
