<div class="col-md-4">
</div>
<div class="col-md-8">
  <div class="notices_detail">
  <%= link_to gravatar_for(@notice.user, size: 50), @notice.user %>
  
  <span class="user">申請者:<%= link_to @notice.user.name, @notice.user %></span>
  <span class="content">
    投稿内容:
    <%= @notice.content %>
    <%= image_tag @notice.picture.url if @notice.picture? %>
  </span>
  <span class="reason">
    申請理由:
    <%= @notice.reason %>
  </span>
 
  <span class="timestamp">
    <%= time_ago_in_words(@notice.created_at) %>前
  </span>

  <% if @notice.treated == false %>
    </div>
      <%= link_to "受理", microposts_path(
        micropost:{
        picture: @notice.picture,
        content: @notice.content
         }
        ), 
        :method => :post, 
        class: 'btn btn-default'
      %>
      <%= link_to "拒否", notice_reject_path(notice:{
        treated: true,
        content: @notice.content,
        reason: @notice.reason,
        picture: @notice.picture
      }),
        class: 'btn btn-default',
        :method => :patch %>
　  </div>
　<% end %>