<% provide(:title, '専用アカウントを作成') %>
<h1>専用アカウントを作成</h1>

<span class="accounts_making_info">
    <h4>申請アカウント情報</h4>
    <span>
    ログインID:<%= @user.name %> <br>
    </span>
    
    <span>
    メールアドレス:<%= @user.email %> <br>
    </span>
    
    <span>
    自動生成されたパスワード:<%= @user.password %>
    </span>



<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_designated_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name , "ログインID"%>
      <%= f.text_field :name, class: 'form-control'%>

      <%= f.label :email ,"メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password , "パスワード"%>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "専用アカウント作成", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


    