<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= link_to current_user.name,current_user, class:'font_color' %></h1>
<!-- <span><%= link_to "プロフィールを見る", current_user %></span> -->
<!-- <span><%= pluralize(current_user.microposts.count, "microposts") %></span> -->
<span><b>投稿数:</b> <%= pluralize(current_user.microposts.count, "") %></span>